extends ../base/layout

block variables
  - const title = "Галерея - сайт 1-в класса школы №56" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentPage = 5 //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main.page-main
    section.intro.intro--red
      .intro__wrapper.container
        h2.intro__title Галерея

    section.gallery.js-slider-block
      .gallery__wrapper.container
        h2.gallery__title Урок технологии
        .gallery__swiper.swiper
          .gallery__swiper-wrapper.swiper-wrapper
            each image in imagesLessonTechList
              if image.isVideo
                .gallery__slide.swiper-slide
                  video(preload="metadata" controls)
                    source(src=`img/lesson/${image.name}.mp4` type="video/mp4")
              else
                .gallery__slide.swiper-slide
                  img(class="swiper-lazy", data-src=`img/lesson/${image.name}`, width=image.width, height=image.height, alt=image.alt)
          .gallery__swiper-controls
            button.gallery__swiper-button.gallery__swiper-button--prev(type="button" aria-label="Предыдущий слайд")
              +icon("arrow-left", 50, 50)
            .gallery__swiper-pagination.swiper-pagination
            button.gallery__swiper-button.gallery__swiper-button--next(type="button" aria-label="Следующий слайд")
              +icon("arrow-right", 50, 50)

    section.gallery.js-slider-block
      .gallery__wrapper.container
        h2.gallery__title Зимние каникулы 2022
        .gallery__swiper.swiper
          .gallery__swiper-wrapper.swiper-wrapper
            each image in imagesWinterList
              .gallery__slide.swiper-slide
                img(class="swiper-lazy", data-src=`img/winter/${image.name}`, width=image.width, height=image.height, alt=image.alt)
          .gallery__swiper-controls
            button.gallery__swiper-button.gallery__swiper-button--prev(type="button" aria-label="Предыдущий слайд")
              +icon("arrow-left", 50, 50)
            .gallery__swiper-pagination.swiper-pagination
            button.gallery__swiper-button.gallery__swiper-button--next(type="button" aria-label="Следующий слайд")
              +icon("arrow-right", 50, 50)

    section.gallery.js-slider-block
      .gallery__wrapper.container
        h2.gallery__title Декабрь 2021
        .gallery__swiper.swiper
          .gallery__swiper-wrapper.swiper-wrapper
            each image in imagesList
              .gallery__slide.swiper-slide
                img(class="swiper-lazy", data-src=`img/slides/${image.name}`, width=image.width, height=image.height, alt=image.alt)
          .gallery__swiper-controls
            button.gallery__swiper-button.gallery__swiper-button--prev(type="button" aria-label="Предыдущий слайд")
              +icon("arrow-left", 50, 50)
            .gallery__swiper-pagination.swiper-pagination
            button.gallery__swiper-button.gallery__swiper-button--next(type="button" aria-label="Следующий слайд")
              +icon("arrow-right", 50, 50)

    section.gallery.js-slider-block
      .gallery__wrapper.container
        h2.gallery__title Октябрь - ноябрь 2021
        .gallery__swiper.swiper
          .gallery__swiper-wrapper.swiper-wrapper
            each image in imagesNovemberList
              .gallery__slide.swiper-slide
                img(class="swiper-lazy", data-src=`img/slides/${image.name}`, width=image.width, height=image.height, alt=image.alt)
          .gallery__swiper-controls
            button.gallery__swiper-button.gallery__swiper-button--prev(type="button" aria-label="Предыдущий слайд")
              +icon("arrow-left", 50, 50)
            .gallery__swiper-pagination.swiper-pagination
            button.gallery__swiper-button.gallery__swiper-button--next(type="button" aria-label="Следующий слайд")
              +icon("arrow-right", 50, 50)

    section.gallery.js-slider-block
      .gallery__wrapper.container
        h2.gallery__title Сентябрь 2021
        .gallery__swiper.swiper
          .gallery__swiper-wrapper.swiper-wrapper
            each image in imagesSeptemberList
              .gallery__slide.swiper-slide
                img(class="swiper-lazy", data-src=`img/slides/${image.name}`, width=image.width, height=image.height, alt=image.alt)
          .gallery__swiper-controls
            button.gallery__swiper-button.gallery__swiper-button--prev(type="button" aria-label="Предыдущий слайд")
              +icon("arrow-left", 50, 50)
            .gallery__swiper-pagination.swiper-pagination
            button.gallery__swiper-button.gallery__swiper-button--next(type="button" aria-label="Следующий слайд")
              +icon("arrow-right", 50, 50)


block modals
