extends ../base/layout

block variables
  - const title = "О нас - сайт 1-в класса школы №56" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentPage = 2 //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main.page-main
    section.intro.intro--red
      .intro__wrapper.container
        h2.intro__title Полезная информация

    section.info
      .info__wrapper.container
        ul.info__list
          li.info__item
            span Правила по&nbsp;математике для начальной школы
            a(href="downloads/math-rules.pdf" download) Скачать
          li.info__item
            span Правила по&nbsp;математике 1&nbsp;класс
            a(href="downloads/math-rules-1-class.pdf" download) Скачать
          li.info__item
            span Правила-памятка по&nbsp;русскому языку 1&nbsp;класс
            a(href="downloads/russian-rules-1-class.pdf" download) Скачать
          li.info__item
            span Сборник для развития техники чтения 1&nbsp;класс
            a(href="downloads/reading-lessons.pdf" download) Скачать
          li.info__item
            span Советы психолога
            a(href="downloads/psy-advice.pdf" download) Скачать
        .info__content.info__content--red
          h3.info__content-title Русский алфавит
          p.info__content-text <b>Алфавит</b>&nbsp;&mdash; это буквы, расположенные по&nbsp;порядку.
          .info__img-box
            img(src="img/content/russian-abc-1.png", width="850", height="418", alt="алфавит")
          .info__img-box
            img(src="img/content/russian-abc-2.png", width="1448", height="772", alt="алфавит")
        .info__content
          h3.info__content-title Вот советы, как сделать каникулы интересными для себя и&nbsp;детей
          ol.info__content-list
            each item in winterAdviceList
              li.info__content-item!=item
          p.info__content-text <b>САМОЕ ВАЖНОЕ:</b> всё что кажется вам и&nbsp;детям интересным, фотографируйте. Ребята в&nbsp;классе покажут и&nbsp;расскажут на&nbsp;первом классном часе.
          p.info__content-text <b>И&nbsp;помните, удачные каникулы&nbsp;&mdash; запланированные каникулы!</b>
        .info__content.info__content--green
          h3.info__content-title Рекомендовано для чтения на&nbsp;каникулах (1&nbsp;класс 1&nbsp;полугодие)
          p.info__content-subtitle Русские народные сказки:
          ol.info__content-list
            each item in winterReadingList
              li.info__content-item!=item
        .info__content.info__content--red
          h3.info__content-title Памятка учащимся на&nbsp;зимние каникулы
          ol.info__content-list
            each item in rulesWinterList
              li.info__content-item!=item
        .info__content
          h3.info__content-title Правила школьной жизни
          ol.info__content-list
            each item in rulesList
              li.info__content-item!=item
        .info__content.info__content--green
          h3.info__content-title Развитие интереса к&nbsp;чтению у&nbsp;ребенка и&nbsp;формирование читательской состоятельности
          ol.info__content-list
            each item in readList
              li.info__content-item!=item



block modals
