mixin news(props = {})
  .news
    time.news__time(datetime=props.datetime)!=props.date
    .news__wrapper
      .news__text
        each item in props.text
          p!=item
      if props.images
        .news__images
          each image in props.images
            .news__img-box
              img(src=`img/content/${image.name}`, width=image.width, height=image.height, alt=image.alt)

